/* fonts imported */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Roboto:wght@300&display=swap');



/* this is the entire workspace */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: black;
    background-color: rgb(141, 143, 142);
    /* border: red solid 2px; */
} 

/* the form work space */
.all {
    padding-left: 5em;
    padding-top: 2em;
    text-align: left;
    /* border: red solid 2px; */
}

/* just the form */
.form {
    display: inline-block;
    text-align: left;
    /* border: blue solid 2px;  */
}


 /* these are text labels only x 4 eg Name, Email etc */
label {
    display: block; /* Display labels one below the other */
    /* border: rgb(0, 255, 55) solid 2px;  */
}


 /* these are labels and input fields x 3 */
.input_fields {
    margin-bottom: 10px; /* spacing between input fields */
    /* border: rgb(255, 0, 230) solid 2px;  */
}

 /* these are input fields x 3 only */
input[type="text"],
input[type="email"],
select {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: 40%; 
    padding: 5px; 
    margin-bottom: 10px; /* spacing between input fields */
    /* border: rgb(242, 255, 0) solid 2px; */
}

/* this s the preview window only */
textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: 70%; 
    padding: 5px; 
    margin-bottom: 10px; 
    /* border: rgb(0, 229, 255) solid 2px;  */
}

/* SEND button - avoiding default button styling */
.btn.btn--action {
    background-color: rgb(97, 158, 219); 
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 0px 20px 0px 20px; /* button is wider than normal */
    border: rgb(51, 86, 121) 1px solid; /* replace default button border colour */
    cursor: pointer; /* cursor on hover for fun! */
}



/* ====================********====================********=====================*******============= */
/* sent.html page styling */
/* ====================********====================********=====================*******============= */

/* sent confirmation box */
.sent_alert {
    background-color: rgb(34, 181, 191); 
    padding-left: 40px; 
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(255, 255, 255); 
    border-radius: 5px;
    margin-left: 5em;
    margin-right: 5em;
    /* border: red solid 2px; */
}

.nav_bar li {
    margin-left: 5em;
    list-style-type: none;
}

.nav_bar a {
    text-decoration: none; 
    color: black;
    font-size: 1em; 
}


/* ====================********====================********=====================*******============= */
/* error.html page styling */
/* ====================********====================********=====================*******============= */

/* error box */
.error_alert {
    background-color: rgb(117, 8, 19); 
    padding-left: 40px; 
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(255, 255, 255); 
    border-radius: 5px;
    margin-left: 5em;
    margin-right: 5em;
    /* border: red solid 2px; */
}


/* ====================********====================********=====================*******============= */
/* custom dropdown arrow */
/* ====================********====================********=====================*******============= */

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='12' viewBox='0 0 12 12'%3E%3Cpolygon points='0,0 12,0 6,12' fill='black'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px; /* Adjust the padding to make space for the arrow image */
}

/* Style the custom arrow image */
select::-ms-expand {
    display: none; /* Hide the arrow in IE */
}




