<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Yakara</title>
</head>

<header> 
    <nav>
        <ul class="nav_bar">
            <li><a href="/">Click here for previous page</a></li>
        </ul>
    </nav>
</header>

<body>


<div class="sent_alert">
        <h2>Success!</h2>
        <p>Your email has been sent to {{ request.form.get('name', '') }}</p>
</div>

</body>
</html>
